.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-wrapper {
  background-color: var(--color-light);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--color-background);
  border-radius: 3px;
  box-sizing: border-box;
  background-color: var(--color-light);
}

button.primary {
  background-color: var(--color-primary); /* Use the defined primary color */
  color: var(--color-light);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
}
.login-wrapper button {
  width: 50%;
  align-self: center;
  margin: 1rem 0;
}
