:root {
  --color-primary: #3498db;
  --color-light: #ffffff;
  --color-background: #ebebeb;
  --color-text: #474747;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--color-text);
}
body,
html {
  background-color: var(--color-background);
}
